logging:
  level:
    root: INFO
server:
  port: 8081
  error:
    include-message: always
  servlet:
    context-path: /rest
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /documentation.html
spring:
  datasource:
    url: ${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driverClassName: org.postgresql.Driver
    hikari:
      data-source-properties:
        stringtype: unspecified
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  mvc:
    format:
      date: yyyy-MM-dd
management:
  endpoints:
    web:
      exposure:
        include:
          - loggers
          - health
          - metrics
  endpoint:
    loggers:
      access: read_only
    health:
      access: read_only
    metrics:
      access: read_only
config:
  jwt:
    secret: ${JWT_SECRET:super-secret-jwt-token-with-at-least-32-characters-long}
